<%- include ("partials/header")%>

<link rel="stylesheet" href="app.css">
<h1>This is home page!</h1>

<img style="width:500px;height: 800px" src="https://images.unsplash.com/photo-1577915689829-7d83ed6355dc?ixlib=rb-1.2.1&auto=format&fit=crop&w=2961&q=80">

<%- include ("partials/footer")%>