.wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	align-items:center;
}

.img {
	 
	 flex-grow:2;	
	}
	
.info {
	 flex-grow:1;	
	}
	
img {
	border-radius: 20px;
	margin: 20px;
	float: left;
	width: 300;
	height: 400;
}

p {
	margin: 10px;
	font-family: 'Lobster', cursive;
	font-size: 20px;
	text-align: center;
}